In [1]:
import seaborn as sns
import numpy as np
from collections import Counter

In [2]:
df=sns.load_dataset("iris")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
def distance_formula(x,y,q):
 distance=np.sum(abs(x-y)**q)**(1/q)
 return distance

In [5]:
X=df.iloc[:,0:4]

In [6]:
Y=df["species"]

In [7]:
test_data=[4.8,2.7,2.5,0.7]

In [8]:
distance_list=[]

In [9]:
for i in X.index:
 d=distance_formula(test_data,X.iloc[i],2)
 distance_list.append(d)

In [10]:
df["distance"]=distance_list

In [11]:
df.sort_values(by=["distance"],inplace=True)

In [12]:
counter=Counter(df.species[:5])

In [13]:
species_testdata=counter.most_common()[0][0]

In [14]:
print("The species of test data is" ,species_testdata)

The species of test data is versicolor